.t14w {  font-family: tahoma; font-size: 14px; font-weight: bold; color: #FFFFFF}
.t12b {  font-family: tahoma; font-size: 12px; color: #000000; text-decoration: none}
.t12g {  font-family: tahoma; font-size: 12px; font-weight: bold; text-transform: uppercase; color: 069300; text-decoration: none}
.bg_product {  background-attachment: fixed; background-image: url(images/index_45.gif); background-repeat: repeat-y; background-position: right top}
.bg_new {  background-attachment: fixed; background-image: url(images/index_48.gif); background-repeat: no-repeat; background-position: right bottom}
.t12w {  font-family: tahoma; font-size: 12px; color: #FFFFFF; text-decoration: none}
